<!DOCTYPE html>
<html>
<head>
  <script>
    var isRealString = () => {
      var str = document.forms["formname"]["City"].value;
      if (!str) {
        alert('Location can not be empty');
        return false;
      }
      if (typeof str == 'string' && str.trim().length > 0 && !(/^\d+$/.test(str)))
        return true;
      alert('Location must contain alphabets...');
      return false;
    };
  </script>
  <title>{{query}} | Weather</title>
  <link rel="stylesheet" href="https://vortex.accuweather.com/adc2010/stylesheets/slate.min-20190425-1001.css"
    type="text/css" media="all" />
  <meta name="viewport" content="width=988" />
  <style>
    .panel-warning {
      margin-bottom: 5px;
    }
  </style>
  <style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background: #D784FB
    }

    .topnav {
      overflow: hidden;
      background-color: #333;
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #4CAF50;
      color: white;
    }

    .detailsnav {
      overflow: hidden;
      background-color: rgb(99, 15, 74);
    }

    .blanknav {
      overflow: hidden;
      background-color: rgb(255, 255, 255);
    }

    .summarynav {
      background-color: aqua
    }
  </style>
</head>

<body id="forecast-currently" class="en-us forecast ">
 <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href={{{about}}}>About</a>
    <div style="float: right;">
      <h2>
        <font size="6" color="#FFFFFF">{{date}}</font><br>
      </h2>
    </div>
  </div>
  <script type="text/javascript" src="//drrv68bagxr0s.cloudfront.net/script.js"></script>
  <div id="wrap" class="summer h-su">
    <div>
      <!-- /#header-ad -->
      <style type="text/css">
        #header-nav {
          overflow: visible;
          position: static;
          height: auto;
        }
      </style>
      <div id="wrap-header-nav" class="day">
        <div id="header-nav" class="i-4-header">
          <div id="header" class="container_12">
            <div id="country-selector" class="grid_12 strong panel">
              <div class="panel-head-lt">
                <div class="panel-head-rt">
                  <div class="panel-head"></div>
                </div>
              </div>
            </div>
            <div id="header-logo-search" class="clearfix">
   <div id="header-logo">
                <img src={{{logo2}}}
                  style="height: 90px; width:250px;position:absolute; top=10px;">
              </div>
              <div class="right-side">
                <div id="wrap-s-rt">
                  <div id="wrap-s-lt">
                    <div id="wrap-s"
                      class="tmenu { affix: {offset: [ 0, 7 ], to: 'sw', from: 'nw'},el: '#menu-cities' }">
                      <form id="findcity" action="./../views/about" name="formname" onsubmit="return isRealString()">
                        <input name="City" type="text" autocomplete="off" placeholder="Search location..."" />
                        <button type=" button" class="bt bt-go">
                        <img src="https://vortex.accuweather.com/adc2010/images/slate/search-glass.svg">
                        </button>
                    </div>
                  </div>
                </div>
                <div id="control-panel">
                  <div id="social-connect">
                    <ul class="social-list">
                      <li class="label">Follow us on</li>
                      <li class="social-icon"><a id="connect_facebook" href="https://www.facebook.com/vkd0066"
                          class="facebook" target="_blank"></a></li>
                      <li class="social-icon"><a id="connect_twitter" href="https://twitter.com/vkd4vishal"
                          class="twitter" target="_blank"></a></li>
                      <li class="social-icon"><a id="connect_instagram" href="https://www.instagram.com"
                          class="instagram" target="_blank"></a></li>
                      <li class="social-icon"><a id="connect_youtube" href="https://www.youtube.com" class="youtube"
                          target="_blank"></a></li>
                    </ul>
                  </div>
                  <a id="bt-menu-login"
                    class="tmenu { el:'#menu-premium', affix: { to: 'ne', from: 'ne', offset: [ 0,-6 ] } }"><span
                      class="menu-arrow"><span>Login</span></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="blanknav"> <br>
        <br>
      </div>
      <div class="sub-header-wrap">
        <div class="inner-city-header">
          <div class="container_12">
             <div class="grid_12">
              <div id="nav-main-add-interests" class="clearfix alpha">
                <ul id="nav-current-location" class="sub-nav">
                  <li id="current-city-tab" class="selected">
                    <a href={{{more}}} class="tab">
                      <span>
                        <font size="5" color="#FFFFFF  ">{{add}}</font>
                        <font size="5" color="#E2D320  ">&nbsp;&nbsp;&nbsp;&nbsp;{{summary}}</font>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="blanknav">
              <br>
            </div>
            <div class="summarynav"> <center>
                <pre><img src={{{hur}}} width="100" height="70" style="border-radius:23px;">      <font size="8" color="#15317E">{{temp}}&deg;C</font>            <font size="6" color="#C8490E  ">{{hourly_summary}}</font> </pre>
              </center>
            </div>
            <div class="blanknav"><br>
            </div>
            <div class="detailsnav">
              <center>
                <font size="5" color="#E1D9E0">&nbsp;&nbsp; Low</font>
                <font size="5" color="#D1F90A">: {{temperatureMin}}&deg;C</font>
                <font size="5" color="#E1D9E0">&nbsp;&nbsp;High </font>
                <font size="5" color="#D1F90A">: {{temperatureMax}}&deg;C</font>
                <font size="5" color="#E1D9E0">&nbsp;&nbsp;Feels Like </font>
                <font size="5" color="#D1F90A">: {{itfeels}}&deg;C</font>
                <font size="5" color="#E1D9E0">&nbsp;&nbsp;Wind </font>
                <font size="5" color="#D1F90A">: {{windSpeed}}</font>
                <font color="silver">km/hr</font>
              </center>
            </div>
          </div>
        </div>
      </div>
      <center>
        <div class="feature-title">
          <center>
            <div>
              <h3 class="lt">
                <font size="5" color="#39074F  ">Satellite view of {{query}}</font>
              </h3>
            </div>
          </center>
        </div>
      </center>
      <center>
        <div
          style="position:relative;width:800px;height:500px;background:url({{tile}});background-position: -203px -89px;">
          <span class="bing-attrib"></span>
           </div>
      </center>
      <div id="footer">
        <div id="footer-content-wrapper">
          <div class="logo-ad">
            <h5 class="logo"></h5>
            <div id="footer-stevem">
              <div id="footer-stevem-ps"></div>
            </div>
          </div>
          <div id="footer-nav-main" class="clearfix">
            <div id="footer-nav-inner">
              <div>
                  <ul>
                  <li class="head">COMPANY</li>
                  <li data-label="Superior Accuracy in Action"><a target="_top">Superior Accuracy in Action</a></li>
                  <li data-label="About AccuWeather"><a target="_blank">About VKD Weather</a></li>
                  <li data-label="Media Kit"><a target="_blank">Media
                      Kit</a></li>
                  <li data-label="Careers"><a target="_blank">Careers</a>
                  </li>
                  <li data-label="Press"><a target="_top">Press</a></li>
                  <li data-label="Coupons"><a target="_blank">Coupons</a>
                  </li>
                   <li data-label="Contact Us"><a target="_top">Contact
                      Us</a></li>
                </ul>
              </div>
              <div>
                 <ul>
                  <li class="head">PRODUCTS & SERVICES</li>
                  <li data-label="Enterprise Solutions"><a target="_blank">Enterprise Solutions</a></li>
                  <li data-label="D3: Data Driven Decisions"><a target="_blank">D3:
                      Data Driven Decisions</a></li>
                       <li data-label="AccuWeather Network"><a target="_blank">VKD Weather Network</a></li>
                  <li data-label="StoryTeller"><a target="_blank">StoryTeller</a></li>
                  <li data-label="Tools for Broadcast"><a target="_blank">Tools for Broadcast</a></li>
                  <li data-label="Radio &amp; Newspaper"><a target="_blank">Radio & Newspaper</a></li>
                  <li data-label="AccuWeather APIs"><a target="_blank">VKD
                      Weather APIs</a></li>
                  <li data-label="AccuWeather Status"><a target="_blank">VKD
                      Weather Status</a></li>
                  <li data-label="Podcast"><a target="_blank">Podcast</a>
                  </li>
                </ul>
              </div>
              <div>
                <ul>
                  <li class="head">APPS & DOWNLOADS</li>
                  <li data-label="iPhone App"><a target="_blank">iPhone App</a></li>
                  <li data-label="Android App"><a target="_blank">Android App</a></li>
                  <li data-label="Windows App"><a target="_blank">Windows App</a></li>
                   <li data-label="See all Apps &amp; Downloads"><a target="_blank">See all Apps &
                      Downloads</a></li>
                </ul>
              </div>
              <div>
                <ul>
                  <li class="head">SUBSCRIPTION SERVICES</li>
                  <li data-label="AccuWeather Premium"><a target="_blank">VKD Weather Premium</a></li>
                  <li data-label="AccuWeather Professional"><a target="_blank">VKD Weather Professional</a></li>
                </ul>
                <ul class="footer-social">
                  <li class="apps" data-label="Apps &amp; Downloads"><a target="_blank">Apps & Downloads</a></li>
                  <li class="fb" data-label="Facebook"><a target="_blank">Facebook</a></li>
                  <li class="twt" data-label="Follow Us"><a target="_blank">Follow Us</a></li>
                  <li class="utube" data-label="Watch Us"><a target="_blank">Watch Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div id="footer-tm">
            <div class="footer-tm-inner">
              <p>© 2019 VKD Weather, Inc. All Rights Reserved. http://vkd-weather-app.herokuapp.com is a registered
                trademark of
                VKD Weather, Inc. <a>Terms of usage</a> under which this
                service is provided <a>Privacy Statement</a> | <a>Ad Choices</a> | <a>Cookie Policy</a> | <a>TAG
                  Disclosure</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tracking-pixels"></div>
  </div>
</html>